.headline-container {
	text-align: center;
	font-size: 35px;
	font-family: 'Fredoka One', cursive;
}

button {
	border: solid black;
}

#gatchi {
	color:pink;
}

.userNameContainer {
	text-align: center;
}

#input-name {
	width: 300px;
}

#submitUserName {
	background: red:
	color: white;
}

#Tamaname {
	display: flex;
	justify-content: row;
}

