body {
	background-color: #011A27
}
a{
	text-decoration: none;
	color: #011A27;
}

button {
	border-color: #011A27;
}
input {
	border-color: #011A27;
}

.headline-container {
	text-align: center;
	font-size: 35px;
	font-family: 'Fredoka One', cursive;
	color: #E6DF44;
}

#gatchi {
	color:pink;
}

#intro {
	text-align: left;
	margin: 0 auto;
}

#submitUserName{
	font-family: 'Raleway', sans-serif;
	background-color: pink
}


#tamagatchiContainerDiv {
	color: #E6DF44;
	font-family: 'Raleway', sans-serif;
}

#tamagatchiContainerDiv h1 {
	font-family: 'Fredoka One', cursive;
}

#tamagatchiContainerDiv button {
	font-family: 'Fredoka One', cursive;
}


#tamaName {
	color: #011A27;
	background-color: pink;
	text-align: center;
}

.tamaButtons {
	text-align: center;
}
.tamaButtons p{
	text-align: left;
}

.userNameContainer {
	text-align: center;
}

#input-name {
	width: 300px;
}
